language: R
repos:
  CRAN: http://cran.rstudio.com
cache: packages
addons:
  apt:
    packages:
    - tcl8.5-dev
    - tk8.5-dev
before_install:
    - export DISPLAY=:99.0
services:
  - xvfb
r:
  - oldrel
  - release
  - devel
