exportMethods(
    "initialize",
    "plot",
    "summary"
)
export(
    "avail",
    "AvC",
    "BK",
    "BK_CC",
    # "BK_ML",
    "Can",
    "Cant",
    "CC1",
    "CC4",
    "ChooseEffort",
	  "ChooseSelect",
    "CompSRA",
    "CompSRA4010",
    "curE",
    "curE75",
    "DBSRA",
    "DBSRA_40",
    #"DBSRA_ML",
    "DBSRA4010",
    "DCAC",
    "DCAC_40",
    #"DCAC_ML",
    "DCAC4010",
    "DD",
	  "DDe",
    "DDes",
	  "DDe75",
    "DD4010",
    "DepF",
    "DLMDataDir",
    "DOM",
	  "DoOpt",
    "DynF",
	  "DTe40",
    "DTe50",
    "EDCAC",
    "Fadapt",
    "Fdem",
    "Fdem_CC",
    # "Fdem_ML",
    "Fease",
    "FMSYref",
    "FMSYref50",
    "FMSYref75",
    "Fratio",
    "Fratio_CC",
    #"Fratio_ML",
    "Fratio4010",
    "getq",
    "GB_CC",
    "GB_slope",
    "GB_target",
    "Gcontrol",
    "getmov",
	 "Input",
    "Islope1",
    "Islope4",
    "Itarget1",
    "Itarget4",
    "IT5",
    "IT10",
    "ITM",
	"joinMSE",
	"KalmanFilter",
    "L2A",
	"LBSPRSim",
	"LBSPR",
	"LBSPR_ItTAC",
	"LBSPR_ItEff",
	"LBSPR_ItSel",
    "LstepCC1",
    "LstepCC4",
    "Ltarget1",
    "Ltarget4",
	"makePerf",
    "matlenlim",
	"matlenlim2",
    "MCD",
    "MCD4010",
    "ML2D",
    "MRreal",
    "MRnoreal",
    "NAor0",
    "NOAA_plot",
	"OptFun",
    "plotOFL",
	 "PerfPlot",
	"SetRecruitCycle",
    "SPmod",
    "SPslope",
    "Sub",
    "movfit",
    "Needed",
    "qopt",
    "Rcontrol",
    "Rcontrol2",
    "replic8",
    "Required",
    "runMSE",
	"runInMP",
    "Sam",
    "SBT1",
    "SBT2",
    "Sense",
	"slotlim",
    "SPMSY",
    "SPSRA",
    #"SPSRA_ML",
    "TAC",
	"TradePlot",
    "Tplot",
    "Tplot2",
    "CheckConverg",
    "Pplot",
    "Kplot",
    "VOI",
	"VOI2",
    "YPR",
    "YPR_CC",
    #"YPR_ML",
	"wormplot",
    "CSRA",
    "CSRAfunc",
    "getAFC",
	"wormplot",
	"Fease_xl",
	"OM_xl",
	"writeCSV"
)
exportClasses(
    "DLM_data",
    "MSE",
    "Fleet",
    "Stock",
    "Observation",
    "OM"
)
import(
    "MASS",
    "boot",
    "snowfall",
    "parallel",
    "methods",
	"abind"
)
importFrom("grDevices", "col2rgb", "rainbow", "rgb", "xy.coords")
importFrom("graphics", "abline", "hist", "layout", "legend", "lines",
               "matplot", "mtext", "par", "points", "text","axis","identify",
			   "polygon", "title")
importFrom("stats", "coef", "density", "dlnorm", "dnorm", "lm",
               "loess", "optim", "optimise", "optimize", "predict",
               "qlnorm", "quantile", "rbeta", "rlnorm", "rmultinom",
               "rnorm", "runif", "sd", "uniroot", "approx", "dbeta", "nlm", "pnorm")
importFrom("utils", "flush.console", "read.csv")
importFrom("abind", "abind")

